In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import time
import os
import pandas as pd

In [4]:
spark = SparkSession.builder \
    .appName("Test") \
    .config("spark.yarn.access.hadoopFileSystems","abfs://data@datalakesii.dfs.core.windows.net/") \
    .getOrCreate()

In [39]:
import cml.data_v1 as cmldata

#CONNECTION_NAME = "datalakesii-dev"
#conn = cmldata.get_connection(CONNECTION_NAME)#
#spark = conn.get_spark_session()

# Sample usage to run query through spark
EXAMPLE_SQL_QUERY = "show databases"
spark.sql(EXAMPLE_SQL_QUERY).show()

+------------------+
|         namespace|
+------------------+
|          apa_temp|
|           default|
|                dw|
|          dwbgdata|
|information_schema|
|            libsas|
|               sdj|
|               sys|
|               tmp|
+------------------+

In [36]:
EXAMPLE_SQL_QUERY = "select * from apa_temp.empdata"
spark.sql(EXAMPLE_SQL_QUERY).show()

+------+--------+-----------+
|emp_id|    name|emp_dept_id|
+------+--------+-----------+
|     3|Williams|         10|
|     4|   Jones|         30|
|     1|   Smith|         10|
|     2|    Rose|         20|
+------+--------+-----------+

In [7]:
empdataDF=spark.sql(EXAMPLE_SQL_QUERY)

In [8]:
type(empdataDF)

pyspark.sql.dataframe.DataFrame

In [9]:
empdataDF.show()

+------+--------+-----------+
|emp_id|    name|emp_dept_id|
+------+--------+-----------+
|     3|Williams|         10|
|     4|   Jones|         30|
|     1|   Smith|         10|
|     2|    Rose|         20|
+------+--------+-----------+

In [10]:
EXAMPLE_SQL_QUERY = "select * from  apa_temp.empdata e inner join apa_temp.deptdata d on ( e.emp_dept_id == d.dept_id)"
spark.sql(EXAMPLE_SQL_QUERY).show()

23/08/02 18:47:21 WARN SparkConf: The configuration key 'spark.yarn.access.hadoopFileSystems' has been deprecated as of Spark 3.0 and may be removed in the future. Please use the new key 'spark.kerberos.access.hadoopFileSystems' instead.

+------+--------+-----------+---------+-------+
|emp_id|    name|emp_dept_id|dept_name|dept_id|
+------+--------+-----------+---------+-------+
|     3|Williams|         10|  Finance|     10|
|     4|   Jones|         30|    Sales|     30|
|     1|   Smith|         10|  Finance|     10|
|     2|    Rose|         20|Marketing|     20|
+------+--------+-----------+---------+-------+

**lo rescato como DF y lo guardo**

In [11]:
cruceSimple=spark.sql(EXAMPLE_SQL_QUERY)

In [12]:
cruceSimple.show()

23/08/02 18:47:22 WARN SparkConf: The configuration key 'spark.yarn.access.hadoopFileSystems' has been deprecated as of Spark 3.0 and may be removed in the future. Please use the new key 'spark.kerberos.access.hadoopFileSystems' instead.

+------+--------+-----------+---------+-------+
|emp_id|    name|emp_dept_id|dept_name|dept_id|
+------+--------+-----------+---------+-------+
|     3|Williams|         10|  Finance|     10|
|     4|   Jones|         30|    Sales|     30|
|     1|   Smith|         10|  Finance|     10|
|     2|    Rose|         20|Marketing|     20|
+------+--------+-----------+---------+-------+

**acabo de hacer un cruce simple en spark, si deseo usar alguna librería clasica de ML podría querer pasar este DF de spark a pandas**

In [13]:
type(cruceSimple)

pyspark.sql.dataframe.DataFrame

In [14]:
cruceSimplePandas=cruceSimple.toPandas()

23/08/02 18:47:22 WARN SparkConf: The configuration key 'spark.yarn.access.hadoopFileSystems' has been deprecated as of Spark 3.0 and may be removed in the future. Please use the new key 'spark.kerberos.access.hadoopFileSystems' instead.

In [15]:
type(cruceSimplePandas)

pandas.core.frame.DataFrame

In [16]:
cruceSimplePandas

   emp_id      name  emp_dept_id  dept_name  dept_id
0       3  Williams           10    Finance       10
1       4     Jones           30      Sales       30
2       1     Smith           10    Finance       10
3       2      Rose           20  Marketing       20

**podria querer guardar el archivo pandas como df spark**

In [17]:
#Create PySpark DataFrame from Pandas
cruceSimplePandas.iteritems = cruceSimplePandas.items
cruceSimplePandasSpark=spark.createDataFrame(cruceSimplePandas) 
cruceSimplePandasSpark.printSchema()
cruceSimplePandasSpark.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- emp_dept_id: long (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+------+--------+-----------+---------+-------+
|emp_id|    name|emp_dept_id|dept_name|dept_id|
+------+--------+-----------+---------+-------+
|     3|Williams|         10|  Finance|     10|
|     4|   Jones|         30|    Sales|     30|
|     1|   Smith|         10|  Finance|     10|
|     2|    Rose|         20|Marketing|     20|
+------+--------+-----------+---------+-------+

**ahora como spark lo puedo guardar otra vez**

In [18]:
project=os.environ["CDSW_PROJECT"]

In [19]:
rutaPersonal=project+'/tablas'
print(rutaPersonal)

prueba_hive_tablas/tablas

In [20]:
cruceSimplePandasSpark.write.mode('overwrite').option("path", "abfs://data@datalakesii.dfs.core.windows.net/DatosProcesados/%s/"%(rutaPersonal)+"cruceSimple").saveAsTable("apa_temp.cruceSimplePandasSpark")

23/08/02 18:47:26 WARN ShellBasedUnixGroupsMapping: unable to return groups for user manuel.barrientos
PartialGroupNameException The user name 'manuel.barrientos' is not found. id: ‘manuel.barrientos’: no such user
id: ‘manuel.barrientos’: no such user

	at org.apache.hadoop.security.ShellBasedUnixGroupsMapping.resolvePartialGroupNames(ShellBasedUnixGroupsMapping.java:291)
	at org.apache.hadoop.security.ShellBasedUnixGroupsMapping.getUnixGroups(ShellBasedUnixGroupsMapping.java:215)
	at org.apache.hadoop.security.ShellBasedUnixGroupsMapping.getGroupsSet(ShellBasedUnixGroupsMapping.java:123)
	at org.apache.hadoop.security.Groups$GroupCacheLoader.fetchGroupSet(Groups.java:413)
	at org.apache.hadoop.security.Groups$GroupCacheLoader.load(Groups.java:351)
	at org.apache.hadoop.security.Groups$GroupCacheLoader.load(Groups.java:300)
	at com.google.common.cache.LocalCache$LoadingValueReference.loadFuture(LocalCache.java:3529)
	at com.google.common.cache.LocalCache$Segment.loadSync(LocalCache.java:2278)
	at com.google.common.cache.LocalCache$Segment.lockedGetOrLoad(LocalCache.java:2155)
	at com.google.common.cache.LocalCache$Segment.get(LocalCache.java:2045)
	at com.google.common.cache.LocalCache.get(LocalCache.java:3953)
	at com.google.common.cache.LocalCache.getOrLoad(LocalCache.java:3976)
	at com.google.common.cache.LocalCache$LocalLoadingCache.get(LocalCache.java:4960)
	at org.apache.hadoop.security.Groups.getGroupInternal(Groups.java:258)
	at org.apache.hadoop.security.Groups.getGroupsSet(Groups.java:230)
	at org.apache.hadoop.security.UserGroupInformation.getGroupsSet(UserGroupInformation.java:1761)
	at org.apache.hadoop.security.UserGroupInformation.getGroupNames(UserGroupInformation.java:1727)
	at org.apache.hadoop.hive.ql.security.HadoopDefaultAuthenticator.setConf(HadoopDefaultAuthenticator.java:64)
	at org.apache.hadoop.util.ReflectionUtils.setConf(ReflectionUtils.java:77)
	at org.apache.hadoop.util.ReflectionUtils.newInstance(ReflectionUtils.java:137)
	at org.apache.hadoop.hive.ql.metadata.HiveUtils.getAuthenticator(HiveUtils.java:408)
	at org.apache.hadoop.hive.ql.session.SessionState.setupAuth(SessionState.java:1004)
	at org.apache.hadoop.hive.ql.session.SessionState.getAuthenticator(SessionState.java:1788)
	at org.apache.hadoop.hive.ql.session.SessionState.getUserFromAuthenticator(SessionState.java:1388)
	at org.apache.hadoop.hive.ql.metadata.Table.getEmptyTable(Table.java:230)
	at org.apache.hadoop.hive.ql.metadata.Table.<init>(Table.java:157)
	at org.apache.spark.sql.hive.client.HiveClientImpl$.toHiveTable(HiveClientImpl.scala:1138)
	at org.apache.spark.sql.hive.client.HiveClientImpl.$anonfun$createTable$1(HiveClientImpl.scala:607)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.hive.client.HiveClientImpl.$anonfun$withHiveState$1(HiveClientImpl.scala:331)
	at org.apache.spark.sql.hive.client.HiveClientImpl.liftedTree1$1(HiveClientImpl.scala:258)
	at org.apache.spark.sql.hive.client.HiveClientImpl.retryLocked(HiveClientImpl.scala:257)
	at org.apache.spark.sql.hive.client.HiveClientImpl.withHiveState(HiveClientImpl.scala:311)
	at org.apache.spark.sql.hive.client.HiveClientImpl.createTable(HiveClientImpl.scala:605)
	at org.apache.spark.sql.hive.HiveExternalCatalog.saveTableIntoHive(HiveExternalCatalog.scala:510)
	at org.apache.spark.sql.hive.HiveExternalCatalog.createDataSourceTable(HiveExternalCatalog.scala:399)
	at org.apache.spark.sql.hive.HiveExternalCatalog.$anonfun$createTable$1(HiveExternalCatalog.scala:274)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.hive.HiveExternalCatalog.withClient(HiveExternalCatalog.scala:102)
	at org.apache.spark.sql.hive.HiveExternalCatalog.createTable(HiveExternalCatalog.scala:245)
	at org.apache.spark.sql.catalyst.catalog.ExternalCatalogWithListener.createTable(ExternalCatalogWithListener.scala:100)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.createTable(SessionCatalog.scala:380)
	at org.apache.spark.sql.execution.command.CreateDataSourceTableAsSelectCommand.run(createDataSourceTables.scala:191)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:93)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:78)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:116)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.createTable(DataFrameWriter.scala:697)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:671)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:565)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
23/08/02 18:47:26 WARN HiveMetaStoreClient: Failed to connect to the MetaStore Server...
23/08/02 18:47:26 WARN HiveMetaStoreClient: Failed to connect to the MetaStore Server...

**ahora podria querer leer la tabla que acabo de guardar**

In [21]:
EXAMPLE_SQL_QUERY = "select * from  apa_temp.cruceSimplePandasSpark"
spark.sql(EXAMPLE_SQL_QUERY).show()

+------+--------+-----------+---------+-------+
|emp_id|    name|emp_dept_id|dept_name|dept_id|
+------+--------+-----------+---------+-------+
|     3|Williams|         10|  Finance|     10|
|     4|   Jones|         30|    Sales|     30|
|     1|   Smith|         10|  Finance|     10|
|     2|    Rose|         20|Marketing|     20|
+------+--------+-----------+---------+-------+